#projects {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

@media only screen and (max-width: 800px) {
    #projects {
        grid-template-columns: 100%;
    }
}

.project-card {
    border-color: #2c2c2c;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 0.5em;

    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.project-card > h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.project-card > p {
    margin-top: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
}

.project-card > img {
    /* All project images should be 16:9, preferably 1024×576px */
    /* https://stackoverflow.com/a/46098620/6396652 */
    object-fit: cover;
    width: 100%;
    border-radius: 0.5em;
}

@media only screen and (max-width: 800px) {
    .project-card > img {
        max-height: 10em;
    }
}

.project-card > a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-decoration: none;
}

.project-card > a > img {
    filter: invert(100%);
}
