{
  email simjenner3@gmail.com
}

simonj.tech {
  log {
    output file /var/log/caddy/simonj.tech.access.log
  }
  reverse_proxy gostatic:8043
}

psm.simonj.tech {
  log {
    output file /var/log/caddy/psm.simonj.tech.access.log
  }
  reverse_proxy psmserver:8080
}

messenger.simonj.tech {
  log {
    output file /var/log/caddy/messenger.simonj.tech.access.log
  }
  reverse_proxy msserver:8080
}

slb.simonj.tech {
  log {
    output file /var/log/caddy/slb.simonj.tech.access.log
  }
  reverse_proxy spacexlaunchbotsite:8043
}
