[Unit]
Description=selfhosted dashboard webserver service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=selfhosted
Group=www-data
WorkingDirectory=/opt/selfhosted/source/selfhosted-dashboard
ExecStart=/usr/local/bin/uwsgi --ini selfhosted-dashboard.ini
Restart=always
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=multi-user.target
