[Unit]
Description=selfhosted-webserver service
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=selfhosted
Group=www-data
WorkingDirectory=/opt/selfhosted/selfhosted-webserver
ExecStart=/usr/local/bin/uwsgi --ini selfhosted-webserver.ini
Restart=always
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=multi-user.target
